.nav {
    width: 100%;
    height: 100px;
    background: var(--preto);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateZ(0); /* Força layer de composição */
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.logo {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
}

.menuDesktop {
    display: flex;
    gap: 2rem;
}

.menuItem {
    color: #fff;
    background-color: #ff000000;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Sora', sans-serif;
    text-decoration: none;
    transition: color 0.2s;
    padding: 7px 18px;
    border-radius: 8px;

    &:hover {
        color: #d1d1d1;
    }

    &.active {
        background-color: var(--preto2);
        border: 2px solid var(--cinza2);
    }
}

.menuButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}

.hamburger {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px 0;
    transition: 0.3s;
}

.menuMobile {
    display: none;
}

@media (max-width: 768px) {
    .menuDesktop {
        display: none;
    }

    .menuButton {
        display: block;
    }

    .nav{
        justify-content: end ;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background: var(--preto);
        backdrop-filter: blur(10px);
        padding: 1rem;
        gap: 1rem;
        height: 100vh;
    }

    .menuButton.open {
        
        .hamburger:first-child {
            transform: rotate(45deg) translate(7px, 0px);
        }

        .hamburger:last-child {
            transform: rotate(-45deg) translate(5px, 0px);
        }
    }
}