.contentWrapper {
    width: 100vw;
    min-height: 100vh;
    transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(20px);
}

.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
} 