:root {
  --main: #01DEB2;
  --preto: #0A0A0A;
  --preto2: #121212;
  --cinza: #B3B3B3;
  --cinza2: #3B3B3B;
  --branco: #FFFFFF;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
  /* cursor: none; */
}

body {
  background-color: var(--preto);
  width: 100%;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  color: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-sora), 'Sora', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
