.habilidadesContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    h3 {
        font-size: 20px;
        font-weight: 600;
        color: var(--cinza);
        margin-bottom: 15px;
    }

    .habilidadesList {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;


        p {
            font-size: 18px;
            font-weight: 600;
            color: var(--cinza);
            padding: 15px 30px;
            border-radius: 100px;
            border: 1.5px solid var(--cinza2);
            font-family: 'Manrope', sans-serif;
            text-transform: uppercase;
            margin-bottom:5px;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: var(--cinza2);
                color: var(--branco);
            }
        }

        .habilidadeDestaque {
            color: var(--branco);
            border: 1px solid var(--main);

            &:hover {
                background-color: var(--main);
                color: var(--preto);
            }
        }
    }
}

@media (max-width: 700px) {
    .habilidadesContainer {
        .habilidadesList {
            p {
                padding: 13px 25px;
                font-size: 14px;
            }
        }
    }
}