.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: var(--preto2);
    border: 1.5px solid var(--main);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    left: 0;
    top: 0;
    transition: background 0.2s;
  }

  @media (max-width: 768px) {
    .cursor {
      display: none;
    }
  }

